/* RESET */
#mainNav{
  background-color: #212529 !important;
  height: 70px !important;
}

#navbarResponsive {
   background-color: #212529 !important;
}

#navbarResponsive ul li{
  text-align: center;
  margin: auto;
}

input.form-control:focus, textarea.form-control:focus, select.form-control:focus{
  outline: none;
  border-color: grey;
  box-shadow: none;
}

button.close:focus, button.close:active{
  outline: none;
  border: none;
  box-shadow: none;
}

.tieude {
  color: #fed136 !important;
  margin: 0;
}

.tieude-cm {
  margin-bottom: 130px !important;
  color: #425B8C !important;
}

/* ---------- Anh Thu ---------- */

.pagination {
  margin-left:60rem !important;
  margin-top:1rem;
}

.pagination .current-page{
  text-decoration: none;
  border:2px solid black;
  border-radius: 10%;
  padding:10px;
  background-color: white;
  text-align:center;
}

.current-page {
  border:2px solid black;
  background-color:#fed136;
  border-radius: 10%;
  padding:10px;
  text-align:center;
  margin-right:5px;
}

.Tieude {
  font-family: Georgia;
  color: red;
  margin-top:10rem;
  text-align:center;
  
}

.Table th{
  margin: 0 auto;

}

#home .home {
  margin:0 auto;
  text-decoration: none;
}

.avt {
  width:350px;
  height:350px;
  border-radius: 100%;
  background-size: cover!important;
  border: .4rem solid #425B8C;
  background-color: none !important;
  background-repeat: no-repeat;
} 

.avatar_gs {
  max-width:100%;
  height:300px;
  background-size: cover!important;
  background-color: none !important;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar_nen {
  background-color: #fed136;
}

@media only screen and (max-width: 992px) {
  .pagination {
    margin-left: 0px !important;
  }
}


/* ---------- Hoang Duc ---------- */

.dropdown {
  position: relative !important;
  display: inline-block !important;
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: auto !important;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0.25rem;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

.dropdown-content a:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}

.dropdown-content a:hover {
  background-color: #fed136 !important;
}

.dropdown:hover .dropdown-content {display: block !important;}

#macdinh {
  margin-right: -80px;
}

/*---*/

@media only screen and (max-width: 992px) {
  .dropdown-user {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  #macdinh {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.dropdown-user {
  position: relative;
  margin-right: -50px;
  display: inline-block;
}

.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0.25rem;
  z-index: 1;
}

.dropdown-user:hover .dropdown-content-user, .dropdown-user:active .dropdown-content-user {
  display: block !important;
  top: 40px;
}

.dropdown-content-user a {
  color: black;
  padding: 0.25rem 0.5rem;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content-user a:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

.dropdown-content-user a:hover{
  background-color: #fed136 !important;
}

.dropdown-content-user button {
  border: none;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 15px;
  text-align: left;
  min-width: 200px;
  display: block;
}

.dropdown-content-user button:hover {
  background-color: #fed136 !important;
  border-radius: 0 0 0.25rem 0.25rem;
}

.dropdown-content-user button:active, .dropdown-content-user button:focus {
  border: none;
  outline: none;
}

/* --- */

.btn-phd { /* Nút gốc */
  background-color: rgba(0,123,255,0.8);
  border: none;
  border-radius: 8px;
  color: #fff; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px 14px;
  display: inline-block;
}

.btn-phd-sM {
  font-size: 14px;
  padding: 8px 12px;
}

.btn-phd-pC {
  margin: auto;
}
.btn-phd-pL {
  margin-right: 75%;
}
.btn-phd-pR {
  margin-left: 75%;
}

.btn-phd:hover, .btn-phd:focus, .btn-phd:active {
  outline: none;
  background-color: rgba(0,123,255,1);
  box-shadow: 0 0 1px 1px rgba(0,123,255,1); 
}

button.none {
  background: none;
  color: #337ab7;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button.none:hover {
  color: #000000;
}

/* --- */

div#userInfo {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  border: .1rem solid #868e96;
  border-radius: 100% !important;
  width: 40px;
  height: 40px;
}

div#userInfo .dropdown-item {
  padding: 0.25rem 1rem !important;
}

div#userInfo .dropdown-menu {
  font-size: 15px !important;
}

div#userInfo .button-dx::selection { /* Button dang xuat */
  background: none !important;
}

/* --- */

.avatar {
  border: .4rem solid #868e96;
  border-radius: 100%;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  width: 210px;
  height: 210px;
}

.avatar:hover {
  opacity: 0.5;
  background-image: url('../img/img_user/update.png') !important;
  background-size: cover !important;
  background-position: center;
  /*transition: opacity ease-in-out 0.25s;*/
}

.cc {
  text-align: center;
  justify-content: center;
}

/* --- */

.list-group-item a {
  margin-top: 100px !important;
  color: #007bff !important;
  text-decoration: none !important;
}

.message {
  color: red;
  text-align: center;
}

#userInfo .dropdown-content-user a{
  position: relative;
}

.news {
  display: inline-block;
  position: absolute;
  left: 15px;
  border-radius: 100%;
  border: 1px solid red;
  width: 12px;
  height: 12px;
  text-align: center;
  padding: 1px 1px 0.5px 1px;
  color: #fed136;
  background-color: red;
  font-size: 6px;
}